
/******************* nav bar ***********************/
header {
    display: flex;
    padding: 0 2rem;
    width: 100vw;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--primary-color);
    z-index: 9;
}
.company_name {
    color: white;
    cursor: pointer;
}
.loading-cont{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*************************************************/

@keyframes ldio-0awi1dwn6uz7 {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-0awi1dwn6uz7 div { box-sizing: border-box!important }
  .ldio-0awi1dwn6uz7 > div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #000000 transparent #000000 transparent;
    animation: ldio-0awi1dwn6uz7 1s linear infinite;
  }
  
  .ldio-0awi1dwn6uz7 > div:nth-child(2), .ldio-0awi1dwn6uz7 > div:nth-child(4) {
    width: 108px;
    height: 108px;
    top: 46px;
    left: 46px;
    animation: ldio-0awi1dwn6uz7 1s linear infinite reverse;
  }
  .ldio-0awi1dwn6uz7 > div:nth-child(2) {
    border-color: transparent #6ccd67 transparent #6ccd67
  }
  .ldio-0awi1dwn6uz7 > div:nth-child(3) { border-color: transparent }
  .ldio-0awi1dwn6uz7 > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-0awi1dwn6uz7 > div:nth-child(3) div:before, .ldio-0awi1dwn6uz7 > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #000000;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #000000;
  }
  .ldio-0awi1dwn6uz7 > div:nth-child(3) div:after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #000000;
  }
  
  .ldio-0awi1dwn6uz7 > div:nth-child(4) { border-color: transparent; }
  .ldio-0awi1dwn6uz7 > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-0awi1dwn6uz7 > div:nth-child(4) div:before, .ldio-0awi1dwn6uz7 > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 30px;
    background: #6ccd67;
    border-radius: 50%;
    box-shadow: 0 92px 0 0 #6ccd67;
  }
  .ldio-0awi1dwn6uz7 > div:nth-child(4) div:after {
    left: -16px;
    top: 30px;
    box-shadow: 92px 0 0 0 #6ccd67;
  }
  .loadingio-spinner-double-ring-alacf1s1klf {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: white;
  }
  .ldio-0awi1dwn6uz7 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-0awi1dwn6uz7 div { box-sizing: content-box; }
  /* generated by https://loading.io/ */
/*************************************************/

header nav {
    display: flex;
    align-items: center;
}
.search {
    display: flex;
    align-items: center;
    width: 40vw;
    height: 100%;
    position: relative;
    margin: 0 1rem;
}
.search_box {
    width: 40vw;
    height: 40px;
    border: none;
    border-radius: 3rem;
    outline: none;
    padding: 0 calc(50px + 0.6rem) 0 1.5rem;
    font-size: 1.4rem;
}
.search_icon {
    position: absolute;
    right: 0.3rem;
    cursor: pointer;
}
.nav_icons {
    height: 50px;
    width: 50px;
}
.profile_icon{
    justify-self: flex-end;
    cursor: pointer;
}
.sell_now {
    padding: 0 1rem;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
/******************* nav bar ***********************/

/******************* main **********************/
main {
    display: flex;
    padding-top: 60px;
    width: 100%;
}
.profile_menu {
    margin-top: 65px;
    margin-right: 5px;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    border: none;
    background-color: var(--card-white);
    box-shadow: 0 0 5px var(--primary-color);
    border-radius: 5px;
}
.profile_menu a {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    text-decoration: none;
}
.profile_menu a:hover {
    text-decoration: underline;
}
.none {
    display: none;
}
/******************* main **********************/