body{
    overflow-x: hidden;
    /* background-color: rgb(221, 235, 248); */
}
.sphere1 {
    background-color: #a0fca8;
    box-shadow: 0 0 10px #a8bea8a9;
    position: fixed;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    top: 20%;
    right: -10%;
}
.sphere2 {
    background-color: #de99e9;
    box-shadow: 0 0 100px 1px #b484bba9;
    position: fixed;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    bottom: -15%;
    left: -5%;
}
.sphere3 {
    background-color: rgba(64, 177, 230, 0.603);
    box-shadow: 0 0 100px 1px rgb(127, 174, 206);
    position: fixed;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    bottom: 70%;
    left: 30%;
}
.bg_image {
    width: 50vw;
    height: 100vh;
    position: fixed;
    right: 0;
    /* background-color: black; */
    background-image: url(../assets/images/Wall\ post-amico.svg);
    background-position: center right;
    background-repeat: no-repeat;
}
main{
    display: flex;
    flex-direction: column;
    width: 80vw;
}
h2 {
    color: var(--alternate-color);
    width: 100%;
    text-align: center;
    z-index: 1;
    padding-top: 2rem;
    font-size: 2.5rem;
}
.main_section{
    display: flex;
    margin: 1rem;
    height: auto;
    display: flex;
    align-items: flex-start;
    z-index: 5;
}
.images-cont {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    margin: 1rem;
    overflow: auto;
}

.profile-img-cont{
    height: 300px;
    width: 300px;
    margin: 1rem 0;
    border-radius: 50%;
    border: none;
    position: relative;
    box-shadow: 0 0 5px var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: rgba(231, 231, 231, 0.795);
    cursor: pointer;
}
.icon_overlay{
    display: flex;
    position: absolute;
    bottom: 0px;
    padding: 50px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    justify-content: center;
    opacity: 0;
    transition:all 0.7s ease;
}
.profile-img-cont:hover .icon_overlay{
    display: flex;
    position: absolute;
    bottom: 0px;
    padding: 50px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    justify-content: center;
    opacity: 1;
}

#profile-pic-upload,#des-pic-upload{
    height: 0;
    width: 0;
    content: '';
}
.description_images {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    padding-top: 2rem;
    overflow: auto;
}
.description_images h3{
    text-align: center;
    color: var(--blue-light);
    padding: 1rem;
}
.description_images_container {
    min-height: 250px;
    width: 80%;
    margin: 1rem 0;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px var(--blue-light);
    background-color: rgba(255, 255, 255, 0.795);
    cursor: pointer;
}
/* .description_images_container:nth-child(2), .description_images_container:nth-child(3){
    display: none;
} */

.main_form {
    margin: auto;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem 1rem;
    padding: 1rem;
    background-color: #ffffffd5;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgb(184, 184, 184);
    z-index: 5;
    backdrop-filter: blur(10px);
}
fieldset {
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: solid rgb(185, 184, 184) 1px;
    border-radius: 0.5rem;
}
legend {
    color: var(--blue-light);
}
fieldset .contents {
    display: flex;
    /* flex-direction: column; */
    padding: 0.5rem;
}
.main_form > .contents {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.contents > label, .label {
    font-size: 1.3rem;
    width: 30%;
}
.contents > span {
    padding: 0 0.5rem 0.5rem;
}
.contents > textarea {
    border-radius: 0.5rem;
    width: 100%;
}
.suggestion_div {
    width: 100%;
    display: flex;
    padding: 1rem;
}
.selected_suggestions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 5rem;
    padding: 0.25rem 0;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 5px rgb(184, 184, 184);
    overflow-y: scroll;
}
.selected_suggestions > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(64, 177, 230, 0.603);
    margin: 0 0.5rem;
    padding: 0 0.2rem;
    margin-bottom: 0.25rem;
    border-radius: .2rem;
}
.selected_suggestions > div > p {
    padding-right: .2rem;
}
.selected_suggestions > div > img {
    width: 1rem;
    height: auto;
}
.selected_suggestions > div > img:hover {
    background-color: white;
}


fieldset > .input_area {
    width: 70%;
}
.input_area {
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    width: 70%;
    outline-style: none;
    box-shadow: 0 0 5px rgb(184, 184, 184);
    padding: 0rem 1rem;
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}
#submit, #cancel {
    font-size: 1.2rem;
    margin: 0.5rem;
    padding: 0 0.5rem;
    border: none;
    background-color: var(--green-light);
    color: var(--primary-color);
    border-radius: 0.5rem;
    cursor: pointer;
}
#submit:hover, #cancel:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}
