body{
    overflow-x: hidden;
}
.sphere1 {
    background-color: var(--green-dark);
    box-shadow: 0 0 100px 1px var(--green-dark);
    position: fixed;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    top: 30%;
    right: -10%;
    z-index: 2;
}
.sphere2 {
    background-color: rgba(38, 160, 216, 0.603);
    box-shadow: 0 0 100px 1px rgb(127, 174, 206);;
    position: fixed;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    bottom: -15%;
    left: -5%;
    z-index: 2;
}
.sphere3 {
    background-color: rgba(131, 78, 255, 0.705);
    box-shadow: 0 0 100px 1px rgba(124, 10, 255, 0.685);;
    position: fixed;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

main{
    display: flex;
    padding: 0 10vw;
    background-color: white;
}

.images-cont{
    width: 40%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}


.profile-img-cont{
    height: 350px;
    width: 350px;
    margin: 1rem 0;
    border-radius: 50%;
    border: none;
    position: relative;
    box-shadow: 0 0 5px var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: rgba(231, 231, 231, 0.795);
}
.icon_overlay{
    display: none;
    position: absolute;
    bottom: 0px;
    padding: 50px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    justify-content: center;
    transition:all 1.5s ease;
}
.profile-img-cont:hover .icon_overlay{
    display: flex;
    position: absolute;
    bottom: 0px;
    padding: 50px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    justify-content: center;
}

#profile-pic-upload,#des-pic-upload{
    height: 0;
    width: 0;
    content: '';
}
.description_images {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description_images h3{
    text-align: center;
    color: var(--blue-light);
    padding: 1rem;
}
.description_images_container {
    height: 30vh;
    width: 100%;
    margin: 1rem 0;;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px var(--blue-light);
    background-color: rgba(255, 255, 255, 0.795);
}
/* .description_images_container:nth-child(2), .description_images_container:nth-child(3){
    display: none;
} */

form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
    background-color: #f1f1f18a;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px var(--primary-color);
    z-index: 5;
}
fieldset {
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-color: solid var(--blue-light);
    border-radius: 0.5rem;
}
fieldset>.contents{
    display: flex;
    flex-direction: row;
}
.contents {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.contents > label, .label {
    font-size: 1.3rem;
    width: 30%;
}
.contents > span {
    padding: 0 0.5rem 0.5rem;
}
.contents > textarea {
    border-radius: 0.5rem;
}


fieldset .input_area {
    width: 70%;
}
.input_area {
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    outline-style: none;
    box-shadow: 0 0 3px;
    padding: .0rem 1rem;
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}
#submit, #cancel {
    font-size: 1.2rem;
    margin: 0.5rem;
    padding: 0 0.5rem;
    border: none;
    background-color: var(--green-light);
    color: var(--primary-color);
    border-radius: 0.5rem;
    cursor: pointer;
}
