body {
    display: flex;
    justify-content: center;
}
main{
    /* width: calc(100% - 300px); */
    width: 100%;
    display: flex;
    /* margin-left: 300px; */
    padding: 2rem 10vw;
    /* padding: 2rem; */
    padding-top: calc(60px + 2rem);
    /* flex-wrap: wrap; */
    justify-content: center;
}
hr {
    margin: 1rem 0;
    border: none;
    height: 1px;
    background-color: rgb(197, 197, 197);
}
h2 {
    margin-top: 1rem;
    color: var(--blue-light);
    padding: 0.5rem;
}
h3 {
    color: var(--blue-light);
}
h4 {
    font-weight: 100;
}

.main_panel {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}


.right_panel {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    height: 70vh;
}

/*************** Basic Details ***************/
.basic_details {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
    background-color: var(--card-white);
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}
.img_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    flex: 3;
}
.image_preview_wrap {
    display: flex;
    justify-content: center;
    width: auto;
    height: 360px;
    overflow: hidden;
    margin-bottom: 1rem;
}
.image_preview_wrap img {
    width: auto;
    height: 360px;
}
.image_select {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_select_wrap {
    margin: 0 0.5rem;
    height: 128px;
    width: 128px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s ease;
}
.image_select_wrap:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.image_select_wrap img {
    height: 128px;
    width: auto;
}
.image_nav_arrow {
    display: flex;
    height: 100%;
    align-items: center;
    transition: all 0.5s ease;
}
#image_nav_arrow_right {
    transform: rotate(180deg);
}

.image_nav_arrow:hover {
    transform: scale(1.3);
}

.product_details {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex: 2;
}
.product_name {
    font-size: 2.5rem;
}

.product_price {
    font-size: 2rem;
    color: var(--blue-light);
}

.product_due {
    padding-top: 0.5rem;
    color: var(--green-dark);
}

.detail_list {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.detail_list tr h4{
    font-weight: 100;
}

.detail_list>tr>td>h4:last-child {
    padding-left: 1rem;
}

.detail_list_elements {
    padding-right: 0.5rem;
}

.product_buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* padding: 1rem; */
}

.quantity_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
}

.quantity_wrapper label {
    font-size: 1.2rem;
    margin-right: 1rem;
}

#quantity {
    outline-style: none;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.253);
    border-radius: 1rem;
    padding: 0 1rem;
}

.estimated_price {
    padding: 0.5rem;
    font-weight: 100;
}

.buy_button {
    padding: 1rem;
    width: 90%;
    border-radius: 2rem;
    border: none;
    background-color: var(--green-light);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
}

.buy_button:hover {
    background-color: var(--green-dark);
}

/*************** Basic Details ***************/

/**************** Description ****************/
.description {
    display: flex;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
    background-color: var(--card-white);
}

.product_address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    align-items: flex-start;
    margin: 0 2rem;
}

.product_address_label {
    color: var(--blue-light);
    width: 100%;
}

#product_address_text {
    padding: 0rem 2rem 1rem;
    width: 100%;
}

.map_wrapper {
    height: 300px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
    border-radius: 0.5rem;
}

.google_map>h3, .description_text>h3 {
    padding-bottom: 0.5rem;
}

.description_text {
    display: flex;
    flex-direction: column;
    border-left: solid 2px rgb(206, 206, 206);
    padding: 0 2rem;
}
/**************** Description ****************/

/*************** Rating & Reviews ************/
.rating_reviews {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
    height: 50vh;
    background-color: var(--card-white);
    overflow: auto;
}

.my_review{
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
    background-color: var(--card-white);
    overflow: auto;
}

.user_review{
    display: flex;
    flex-direction: column;
    border: solid 2px rgb(218, 218, 218);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.user_det_cont{
    display: flex;
    width: 100%;
}

.user_pic_cont{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-right: 1rem;
}

.user_pic_cont img{
    width: 60px;
    height: auto;
    pointer-events: none;
}

.user_det {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .user_name {
    color: var(--primary-color);
    font-size: 1.8rem;
} */

.star_heading_cont {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.star_count {
    display: flex;
    padding-right: 1rem;
}
.star_count img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.star_count img {
    width: 25px;
    height: auto;
}

.review_subject {
    padding-left: 1rem;
    border-left: solid 2px rgb(209, 209, 209);
}

.like_dislike_cont {
    display: flex;
    margin-top: 1rem;
    padding: 0 1rem;
    align-items: center;
}

.like_cont {
    padding-right: 1rem;
    display: flex;
    align-items: center;
}
.dislike_cont {
    display: flex;
    align-items: center;
}

.like_cont img {
    height: 25px;
    margin-right: 0.5rem;
    width: auto;
}

.like_dislike_cont img {
    height: 25px;
    margin-right: 0.5rem;
    width: auto;
}


.post_button {
    align-self: flex-end;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--green-light);
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-left: 85%;
}

.post_button:hover {
    background-color: var(--green-dark);
}

.disabled_btn{
    background-color: #808080;
}

.disabled_btn:hover{
    background-color: #969696;
}

/*************** Rating & Reviews ************/

/************** Seller ******************/
.seller_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
    background-color: var(--card-white);
    padding: 0rem 1rem;
}

.seller_img_wrap {
    margin: 2.5rem 1.5rem 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 220px;
    height: 220px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.253);
    border-radius: 50%;
}
.seller_img_wrap img {
    height: 220px;
    width: auto;
    pointer-events: none;
}
.seller_contact {
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem 1rem;
}
.seller_contact img {
    height: 1.5rem;
    width: auto;
    padding-right: 1rem;
}

.seller_phone_no {
    display: flex;
    align-items: flex-start;
    padding-bottom: 1rem;
}

.seller_address{
    display: flex;
    align-items: flex-start;
    padding-bottom: 1rem;
    text-overflow: ellipsis;
}
/*********** Seller ************/



/***************** on-click buy button ***************/

.confirm_window {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30%;
    margin: 1rem;
    padding: 0 1.5rem 1.5rem;
    height: auto;
    width: 450px;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.253);
    background-color: var(--card-white);
    z-index: 10;
}

.confirm_window table {
    padding: 1rem;
    align-self: center;
}

.cw_details {
    font-weight: 100;
    padding-left: 1rem;
}

.order_buttons {
    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
}

#cancel, #confirm {
    padding: 0.5rem 3rem;
    border: none;
    font-size: 1.1rem;
    border-radius: 1rem;
    color: white;
}

#cancel {
    background-color: rgb(250, 101, 101);
}
#cancel:hover {
    background-color: rgb(252, 55, 55);
    cursor: pointer;
}

#confirm {
    background-color: var(--green-light);
}
#confirm:hover {
    background-color: var(--green-dark);
    cursor: pointer;
}

.none {
     display: none;
 }

 .background_disabled {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    pointer-events: none;
 }
 
/***************** on-click buy button ***************/