@import url(./util.css);
@import url(./common.css);

body {
    background: url(../assets/images/user-profile-bg.svg) no-repeat center center/ cover;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main h2{
    padding: 2rem 0 1rem;
    font-size: 2.4rem;
    margin-top: 2rem;
    color: var(--primary-color);
}

body .form-cont{
    /* margin: 1rem 0; */
    padding: 1rem;
    font-size: 1.2rem;
}

.form-cont form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
    border-radius: 15px;
    padding: 2rem;
}

.profile-img-cont{
    display: flex;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    content: '';
    cursor: pointer;
    align-self: center;
    background-size: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
    overflow: hidden;
}

.profile-img-cont input{
    height: 0;
    width: 0;
}

.profile_image_overlay{
    display: flex;
    position: absolute;
    bottom: 0px;
    height: 40%;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.212);
    transition: all 0.7s ease;
    opacity: 0;
}
.profile-img-cont:hover .profile_image_overlay {
    opacity: 1;
}

.input-wrapper{
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-wrapper .input-head{
    margin-right: 0.5rem;
    width: 100px;
}

.input-wrapper:nth-child(2){
    margin-top: 2rem;
}

.input-val{
    position: relative;
}

.input-wrapper input{
    width: 100%;
    border-radius: 60px;
    padding:0.2rem 0.5rem;
    font-size: 1.1rem;
    border: none;
    outline-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
}

.input-val-otp{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    align-self: flex-end;
    margin-left: 1.3rem;
}

.input-val-otp button{
    cursor: pointer;
}

.otp-cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    display: none;
    transition: all 1s ease;
}

.input-val-otp button{
    outline: none;
    border: none;
    padding: 0.2rem 0.5rem;
    background-color: var(--green-light);
    border-radius: 20px;
}

.input-val-otp #otp{
    width:80px;
}

.phone-no-wrap{
    width: 220px;
}

.phone-no-wrap::before{
    content: "+91";
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
}

.phone-no-wrap button{
    display: none;
    transition: all 0.5s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-wrap: nowrap;
}

#ph-no{
    transition: all 0.5s ease;
    width: 190px;
}

select{
    width: 226px;
    outline: none;
    border-radius: 60px;
    padding:0.2rem 0.5rem;
    font-size: 1.1rem;
    border: none;
    outline: none;
    /* box-shadow: 0 0 2px 1px rgb(111, 111, 111); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-cont{
    width: 100%;
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
}

.button-cont button{
    outline: none;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    width: 100px;
}

.button-cont button:nth-child(1){
    background-color: var(--green-light);
    border-radius: 2rem;
}

.button-cont button:nth-child(2){
    background-color: rgba(252, 79, 79, 0.863);
    border-radius: 2rem;
}