main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.bg_image {
    width: 50vw;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 1rem;
    
}
.card h1 {
    font-family: bold-font;
    font-size: 4rem;
    padding: 1rem 5vw;
}
.card h1 span {
    color: var(--green-dark);
}
.card div {
    display: flex;
    justify-content: start;
    padding: 3rem 10vw;
}
.card div h2 {
    font-family: regular-font;
    font-size: 2rem;
    margin: auto;
}
.buy {
    color: var(--blue-light);
}
.sell {
    color: var(--green-dark);
}

.sign_in {
    display: flex;
    border: none;
    border-radius: 3rem;
    margin: 3rem auto;
    padding: 0.5rem 4rem;
    color: white;
    font-size: 2rem;
    background-color: var(--primary-color);
}
.sign_in img {
    height: 45px;
    width: 45px;
    align-self: center;
    padding-left: 0.3rem;
}