/*******************Fonts***************************/
@font-face {
    font-family: medium-font;
    src: url(../assets/fonts/DMSans-Medium.ttf);
}

@font-face {
    font-family: regular-font;
    src: url(../assets/fonts/DMSans-Regular.ttf);
}

@font-face {
    font-family: bold-font;
    src: url(../assets/fonts/DMSans-Bold.ttf);
}
/******************Fonts****************************/


:root {
    --primary-color: #202936;
    --alternate-color: #2E3A59;
    --blue-light: #545D70;
    --green-light: #6CCD67;
    --green-dark: #60B75B;
    --side-nav: #222F3F;
    --card-white: #f6f9fc;
}

*,*::before,*::after{
    font-family: 'regular-font';
    color: var(--primary-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

